---
import { getCollection } from 'astro:content';
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import { localOrRemoteSrcToUrl } from '../../utils';

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((post) => post.data.id === +slug!.split('/')[1]);

if (!post) {
  return Astro.redirect('/404');
}

if (post.slug !== slug) {
  return Astro.redirect(`/blog/${post.slug}`);
}

const { Content } = await post.render();
const { title, description, tags, thumbnail, createdAt } = post.data;
const currUrl = new URL(Astro.request.url);
const imgSrc = thumbnail?.src ? localOrRemoteSrcToUrl(currUrl, thumbnail?.src).toString() : undefined;
---

<BasePageLayout title={title} metaDescription={description} metaKeywords={tags} metaImageSrc={imgSrc}>
  <article>
    <h1>{title}</h1>
    <span>{createdAt.toLocaleDateString()}</span>
    <Content />
  </article>
</BasePageLayout>

<style lang="scss">
  article {
    width: 80ch;
    margin: auto;
  }
</style>
