---
import { getCollection } from 'astro:content';
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import { getDescriptionFromText, localOrRemoteSrcToUrl } from '../../utils';

const { slug } = Astro.params;
const projects = await getCollection('projects');
const project = projects.find((project) => project.data.id === +slug!.split('/')[0]);

if (!project) {
  return Astro.redirect('/404');
}

if (project.slug !== slug) {
  return Astro.redirect(`/projects/${project.slug}`);
}

const { Content } = await project.render();
const { title, description, tags, thumbnail, createdAt } = project.data;
const currUrl = new URL(Astro.request.url);
const imgSrc = thumbnail?.src ? localOrRemoteSrcToUrl(currUrl, thumbnail?.src).toString() : undefined;
---

<BasePageLayout
  title={title}
  metaDescription={description ?? getDescriptionFromText(project.body, 160)}
  metaKeywords={tags}
  metaImageSrc={imgSrc}
>
  <article>
    <h1>{title}</h1>
    <span>{createdAt.toLocaleDateString()}</span>
    <Content />
  </article>
</BasePageLayout>

<style lang="scss">
  article {
    width: 50rem;
    margin: auto;
  }
</style>
