---
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  metaDescription?: string;
  metaKeywords?: string[];
  metaImageSrc?: string;
  metaImageAlt?: string;
  canonical?: string;
}

const {
  title,
  metaDescription,
  metaKeywords,
  metaImageSrc,
  metaImageAlt,
  canonical,
} = Astro.props;

const canonicalUrl =
  "https://joonaa.dev" + (canonical ? canonical : Astro.url.pathname);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Joona Aalto"
      href={new URL("blog/feed.xml", Astro.site)}
    />

    <!-- Icons and manifest  -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#1e1e23" />

    <!-- KaTeX -->
    <link
      rel="preload"
      as="style"
      onload="
      this.rel = 'stylesheet'
      "
      href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
      integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC"
      crossorigin="anonymous"
    />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="canonical" href={canonicalUrl} />

    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    {
      metaKeywords && (
        <meta name="keywords" content={metaKeywords?.join(", ")} />
      )
    }
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Joona Aalto" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    {metaImageSrc && <meta property="og:image" content={metaImageSrc} />}
    {metaImageAlt && <meta property="og:image:alt" content={metaImageAlt} />}

    <!-- Partytown and Google Analytics -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-X5YP3LR405"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-X5YP3LR405");
    </script>
  </head>

  <body>
    <Nav />

    <slot />

    <style lang="scss" is:global>
      :root {
        --accent-1-rgb: 0, 200, 255;
        --accent-1: rgb(var(--accent-1-rgb));
        --accent-2-rgb: 0, 255, 170;
        --accent-2: rgb(var(--accent-2-rgb));
        --bg-1-rgb: 30, 30, 35;
        --bg-1: rgb(var(--bg-1-rgb));
        --bg-2-rgb: 45, 45, 50;
        --bg-2: rgb(var(--bg-2-rgb));
        --text-color-1-rgb: 225, 225, 230;
        --text-color-1: rgb(var(--text-color-1-rgb));
        --text-color-2-rgb: 185, 185, 190;
        --text-color-2: rgb(var(--text-color-2-rgb));
        --link-color-rgb: 90, 180, 255;
        --link-color: rgb(var(--link-color-rgb));

        color-scheme: dark;
        color: var(--text-color-1);
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        min-height: 100vh;
        margin: 0;
        padding-top: 4rem;
        box-sizing: border-box;
        font-size: 1.05em;
        font-family:
          system-ui,
          -apple-system,
          sans-serif;
        font-weight: 400;
        background-color: var(--bg-1);
      }

      h1 {
        font-size: 2.5em;
        width: fit-content;
        background: -webkit-linear-gradient(
          45deg,
          var(--accent-1),
          var(--accent-2)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.3em;
      }

      p,
      ul,
      ol {
        line-height: 1.7em;
      }

      ul li,
      ol li {
        padding: 0.2rem 0;
      }

      a {
        color: var(--link-color);

        &:not(code) {
          text-decoration: none;
        }
      }

      details {
        background-color: var(--bg-2);
        box-sizing: border-box;
        border-radius: 0.6rem;

        &[open] {
          padding-bottom: 1rem;
        }

        > summary {
          cursor: pointer;
          user-select: none;
          font-weight: bold;
          padding: 1rem;
        }

        & > :not(summary):first-of-type {
          margin-top: 0;
        }

        :last-child {
          margin-bottom: 0rem;
        }

        > *:not(summary) {
          margin-left: 1rem;
          margin-right: 1rem;
          max-width: calc(100% - 2rem);
        }

        img {
          height: auto;
        }
      }

      code {
        font-family: monospace;
        font-size: 1.2em;
        line-height: 1.5em;
      }

      :not(pre) > code {
        font-size: 0.95em;
        font-weight: bold;
        background: oklch(0.4 0.01 286 / 0.6);
        color: var(--text-color-2);
        border-radius: 4px;
        padding: 0.3em 0.45em;
      }

      a > code {
        color: var(--accent-1);

        &:hover {
          background: oklch(0.4 0.01 286 / 0.8);
        }
      }

      pre.astro-code {
        font-size: 0.8em;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.6rem;
        background-color: oklch(0.275 0.01 286) !important;
      }

      @media only screen and (max-width: 1000px) {
        body {
          font-size: 0.9em;
        }
      }

      @media only screen and (max-height: 700px) {
        body {
          font-size: 0.9em;
        }
      }
    </style>
  </body>
</html>
