---
import Nav from '../components/Nav.astro';

export interface Props {
  title: string;
  metaDescription?: string;
  metaKeywords?: string[];
  metaImageSrc?: string;
}

const { title, metaDescription, metaKeywords, metaImageSrc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={metaDescription} />
    {metaKeywords && <meta name="keywords" content={metaKeywords?.join(', ')} />}
    <meta name="og:title" property="og:title" content={title} />
    <meta name="og:description" property="og:description" content={metaDescription} />
    {metaImageSrc && <meta name="og:image" property="og:image" content={metaImageSrc} />}
  </head>

  <body>
    <Nav />

    <slot />

    <style is:global>
      /* For browsers that support variable fonts */
      @supports (font-variation-settings: normal) {
        @font-face {
          font-family: 'Fira Code';
          src: url('/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype-variations');
          font-weight: 300 700;
          font-style: normal;
          font-stretch: normal;
          font-display: swap;
        }

        @font-face {
          font-family: 'Inter';
          src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
          font-weight: 100 900;
          font-style: oblique -10deg 0deg;
          font-display: swap;
        }
      }

      /* For browsers that don't support variable fonts */
      @supports not (font-variation-settings: normal) {
        @font-face {
          font-family: 'Inter';
          src: url('/fonts/Inter/static/Inter-ExtraLight.ttf') format('truetype');
          font-weight: 200;
          font-display: swap;
        }

        @font-face {
          font-family: 'Inter';
          src: url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
          font-weight: 400;
          font-display: swap;
        }

        @font-face {
          font-family: 'Inter';
          src: url('/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
        }

        @font-face {
          font-family: 'Fira Code';
          src: url('/fonts/Fira_Code/static/FiraCode-Light.ttf') format('truetype');
          font-weight: 300;
          font-display: swap;
        }

        @font-face {
          font-family: 'Fira Code';
          src: url('/fonts/Fira_Code/static/FiraCode-Regular.ttf') format('truetype');
          font-weight: 400;
          font-display: swap;
        }

        @font-face {
          font-family: 'Fira Code';
          src: url('/fonts/Fira_Code/static/FiraCode-Bold.ttf') format('truetype');
          font-weight: 700;
          font-display: swap;
        }
      }

      :root {
        --accent-rgb: 0, 125, 250;
        --accent: rgb(var(--accent-rgb));
        --accent-gradient: linear-gradient(45deg, var(--accent), #da62c4 30%, white 60%);
        --bg-rgb: 246, 246, 246;
        --bg: rgb(var(--bg-rgb));
      }

      html {
        font-family: 'Inter', system-ui, -apple-system, sans-serif;
        font-weight: 400;
        background-color: var(--bg);
      }

      body {
        min-height: 100vh;
        margin: 0;
        padding-top: 4rem;
        box-sizing: border-box;
        font-size: 1.1em;
      }

      p {
        line-height: 1.5;
      }

      a {
        color: #1166dd;
      }

      code {
        font-family: 'Fira Code', monospace;
        line-height: 1.5em;
      }

      :not(pre) > code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(255, 200, 200, 12%);
        color: #dd5555;
        border-radius: 4px;
        padding: 0.3em 0.45em;
      }

      pre.astro-code {
        font-size: 0.8em;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.6rem;
      }
    </style>
  </body>
</html>
